.section1{
    padding: 2% 7%;
/* border: 2px solid red; */
   background-color: rgba(207, 204, 204, 0.876);
   font-family: 'Ubuntu', sans-serif ;
}

.section1 h3{
    text-align: center;
    margin-bottom: 1.2rem;
   color:rgb(9, 106, 155);
   font-size: 2.5rem;
   
}
@media only screen and (max-width: 998px) {
    .section1  h3{
       font-size: 2.2rem;
   }
  }
  @media only screen and (max-width: 767px) {
    .section1    h3{
        font-size: 2rem;
    }
   }
   @media only screen and (max-width: 576px) {
    .section1  h3{
        font-size: 1.87rem;
    }
   }
   @media only screen and (max-width: 467px) {
    .section1  h3{
        font-size: 1.685rem;
    }
   }