.section2{
  background-color: #E3E3E3;
  /* border: 2px solid red; */
padding:20px 0 70px;
margin-bottom: 3rem;
font-family: 'Ubuntu', sans-serif ;
}
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
   
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
   
    overflow: hidden;
    position: relative;
   width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider  {
    height: 100%;
    width: 95vw;
    padding: 20px 40px 40px;
   
  }
  .slide{
      padding: 20px 23px;
  }
 
  .slide img{
      height:140px;
      
  }

 .heading h3{
    text-align: center;
    color:rgb(9, 106, 155);
    font-size: 2.5rem;
    /* margin-top: 1.2rem; */
    /* border: 2px solid green; */
  }
  @media only screen and (max-width: 998px) {
    .section1  h3{
       font-size: 2.2rem;
   }
  }
  @media only screen and (max-width: 767px) {
    .section1    h3{
        font-size: 2rem;
    }
   }
   @media only screen and (max-width: 576px) {
    .section1  h3{
        font-size: 1.87rem;
    }
   }
   @media only screen and (max-width: 467px) {
    .section1  h3{
        font-size: 1.65rem;
    }
   }