
.card-img-top{
    width: 100%;


}
.img-border-bottom{
  border-bottom: .7px solid black;
}

.card-height{
min-height: 500px;
 
}

@media only screen and (max-width: 767px) {

  .card-height{
    
    min-height:100%;

    
  }
}
.card-heading{
  
  color: rgb(61,167,220);
}
.desc{
  line-height: 1.7 ;
}